<!DOCTYPE html>
<html>
<head>
    <title>Upload Notes</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container mt-5" style="max-width: 500px;">

    <h2 class="text-center mb-4">Upload Notes</h2>

    <form method="POST" enctype="multipart/form-data">

        <input type="text" name="title" placeholder="Title"
               class="form-control mb-3" required>

        <input type="text" name="subject" placeholder="Subject"
               class="form-control mb-3" required>

        <input type="file" name="file"
               class="form-control mb-3" required>

        <button class="btn btn-primary w-100">Upload</button>

    </form>

</div>

</body>
</html>